[user]
  name = Jon Sadka
  email = ???

[color]
  ui = auto
[color "branch"]
  current = 222 # Yellow
  local = 156 # Green
  remote = 117 # Blue
[color "diff"]
  meta = white
  frag = 117 # Blue
  old = 203 # Red
  new = 156 # Green
  whitespace = 203 reverse # Red
[color "status"]
  added = 156 # Green
  changed = 222 # Yellow
  untracked = 203 # Red

[alias]
  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  # View abbreviated SHA, description, and history graph of the commits
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

  # List contributors with number of commits
  contributors = shortlog --summary --numbered
